/* Master Styles */
h1 {
  color: aqua;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3, p, li {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  background-color:#224;
}